conn ikev2-EAP
  keyexchange=ikev2
  auto=add
  fragmentation=yes
  forceencaps=yes

  left=%defaultroute
  leftid=@ns.miaogongzi.cc
  leftauth=pubkey
  leftcert=full.pem
  leftsendcert=always
  leftsubnet=0.0.0.0/0

  right=%any
  rightid=%any
  rightauth=eap-mschapv2
  eap_identity=%identity
  rightsourceip=10.0.20.0/24
  rightdns=10.0.0.1

  ike=aes256-sha256-modp1024,aes256-sha1-modp1024,aes128-sha256-modp1024,aes128-sha1-modp1024,aes256-sha256-modp2048,aes256-sha1-modp2048
  esp=aes256-sha256,aes128-sha256,aes256-sha1,aes128-sha1
  dpdaction=clear
  dpddelay=30s
  rekey=no
  compress=no